
.contact-header{
    display: flex;
    justify-content:space-between; 
}

.main-content{
        padding: 3rem 1.5rem;
}
@media only screen and (max-width: 768px){
    .contact-header{
        display: block;
    }
    .main-content h1{
        text-align: center;
      }
      .main-content a{
        display: none;
      }
}
